@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Ubuntu:wght@500&display=swap');

:root {
  --color-primary: #8484F0;
  --color-primary-dark: #3E4AAD;
  --color-secondary: #757575;
  --color-secondary-dark: #252530;
  --color-warning:#FF81B1;
  --color-warning-dark: #FF4A6E;
  --color-info: #008BD2;
  --color-info-dark: #0050A1;
  --color-mid: #F6F6F9;
  --color-light: #FFF;
  --color-dark: #000;
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Ubuntu', sans-serif;
  --transition-time: 0.5s all ease;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-mid);
  font-family: var(--font-body);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:active {
  color: var(--color-primary);
}
