@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Ubuntu:wght@500&display=swap');

:root {
  --color-primary: #8484F0;
  --color-primary-dark: #3E4AAD;
  --color-secondary: #757575;
  --color-mid: #F6F6F9;
  --color-light: #FFF;
  --color-dark: #000;
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Ubuntu', sans-serif;
  --transition-time: all 1s ease cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-mid);
  font-family: var(--font-body);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:active {
  color: var(--color-primary);
}
